body {
  font-family: 'Open Sans', sans-serif; }

#home {
  text-align: center;
  position: relative; }
  #home img.firs {
    width: 100%;
    height: 65em; }
  #home a {
    font-weight: bold; }
  #home a.about {
    position: absolute;
    top: 3.5em;
    right: 36em;
    color: white; }
  #home a.about1 {
    position: absolute;
    top: 3.5em;
    right: 26em;
    color: white; }
  #home a.about2 {
    position: absolute;
    top: 3.5em;
    right: 19em;
    color: white; }
  #home a.about3 {
    position: absolute;
    top: 3.5em;
    right: 14em;
    color: white; }
  #home a.about4 {
    position: absolute;
    top: 3.5em;
    right: 7em;
    color: white; }
  #home img.first {
    position: absolute;
    top: -13em;
    left: -12.5em;
    transform: scale(0.1);
    color: red; }
  #home h2 {
    position: absolute;
    top: 1.2em;
    left: 4.2em;
    font-size: 1.8em; }
    #home h2 span {
      border-bottom: 5px solid #A2CA29; }
  #home h1 {
    position: absolute;
    bottom: 3em;
    left: 2.5em;
    font-size: 4em;
    text-transform: uppercase; }
    #home h1 span {
      color: #A2CA29; }
  #home p {
    position: absolute;
    bottom: 6.7em;
    left: 20.5em;
    font-size: 1.5em; }
    #home p span {
      color: red; }

#det1 {
  background-color: #A2CA29;
  text-align: left;
  color: white;
  padding: 6em 8em; }
  #det1 .row {
    padding-right: 8em; }
    #det1 .row i {
      font-size: 4em; }
    #det1 .row a {
      font-size: 1em;
      color: white; }
      #det1 .row a i {
        font-size: 1em; }

#det2 {
  padding-top: 2em;
  padding-bottom: 0em;
  background-color: #A2CA29;
  text-align: center; }
  #det2 .row {
    background-color: white;
    margin-right: 8em;
    padding-bottom: 0;
    max-height: 100%; }
    #det2 .row .col-sm-8 {
      max-height: auto; }
    #det2 .row p.head {
      padding-top: 2em;
      color: #FE634F;
      font-weight: bold;
      font-size: 1.5em; }
    #det2 .row h3 {
      font-size: 3.5em;
      font-weight: lighter;
      color: #A2CA29; }
    #det2 .row a {
      color: #A2CA29; }
    #det2 .row img {
      max-width: 102.5%; }

#det3 {
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: #A2CA29;
  text-align: center; }
  #det3 .row {
    background-color: white;
    margin-right: 8em;
    padding-bottom: 0;
    max-height: 100%; }
    #det3 .row .col-sm-8 {
      max-height: auto; }
    #det3 .row p.head {
      padding-top: 2em;
      color: #FE634F;
      font-weight: bold;
      font-size: 1.5em; }
    #det3 .row h3 {
      font-size: 3.5em;
      font-weight: lighter;
      color: #A2CA29; }
    #det3 .row a {
      color: #A2CA29; }
    #det3 .row img {
      transform: translate(-1em, -0.37em) scale(1, 1.028); }

#det4 {
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: #FE634F;
  text-align: center; }
  #det4 .row {
    margin-right: 8em;
    padding-bottom: 0;
    max-height: 100%;
    background-color: white; }
    #det4 .row .boy {
      transform: translate(0em, 2.68em) scale(1.047, 1.269); }
    #det4 .row .run {
      transform: scale(1.094, 1) translate(0em, 0); }

#det5 {
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: #FE634F;
  text-align: left; }
  #det5 .row {
    background-color: white;
    margin-right: 8em; }
    #det5 .row .col-sm-8 {
      background-color: #A2CA29;
      padding: 3em 3em;
      color: white;
      padding-bottom: 9em; }
      #det5 .row .col-sm-8 h3.left {
        text-transform: uppercase;
        font-size: 3em; }
      #det5 .row .col-sm-8 p.detal {
        font-size: 0.9em; }
    #det5 .row .col-sm-4 {
      padding-top: 3em;
      padding-left: 2.5em;
      padding-bottom: 3.9em; }
      #det5 .row .col-sm-4 p.head {
        padding-top: 2em;
        color: #FE634F;
        line-height: 0em; }
      #det5 .row .col-sm-4 h3 {
        font-size: 3em;
        color: #A2CA29; }

#det6 {
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: #FE634F;
  text-align: left; }
  #det6 .row {
    background-color: white;
    margin-right: 8em; }
    #det6 .row .mango {
      transform: scale(1.097, 1.1) translate(0em, 0.75em); }
    #det6 .row .grape {
      transform: scale(1.045, 1.012); }

#det7 {
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: #FE634F;
  text-align: left; }
  #det7 .row {
    background-color: white;
    margin-right: 8em; }
    #det7 .row .col-sm-8 {
      padding: 5em 2em 5em 3em; }
      #det7 .row .col-sm-8 p.left {
        color: #FE634F;
        line-height: 0em;
        font-weight: bold;
        text-transform: uppercase; }
      #det7 .row .col-sm-8 h3.left {
        color: #A2CA29;
        font-size: 2em;
        line-height: 0.5em;
        text-transform: uppercase;
        padding-bottom: 1em; }
    #det7 .row .col-sm-4 {
      color: white;
      padding: 4em 2em 5em 3em;
      background-color: #A2CA29; }
      #det7 .row .col-sm-4 p.right {
        line-height: 0em;
        font-weight: bold;
        text-transform: uppercase; }
      #det7 .row .col-sm-4 h3.right {
        font-size: 2em;
        line-height: 0.5em;
        text-transform: uppercase;
        padding-bottom: 1em; }

#last {
  position: relative;
  text-align: center; }
  #last img {
    width: 100%; }
  #last .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%); }
    #last .text h2 {
      font-size: 2.5em;
      line-height: 1.5em; }

#contact {
  background-color: #0D111A;
  color: white;
  padding-top: 3em;
  padding-bottom: 20em; }
  #contact .row {
    margin-left: 5em; }
    #contact .row i {
      font-size: 3em;
      margin-right: 0.4em; }
    #contact .row h3 {
      font-weight: bold;
      font-size: 1.4em; }
    #contact .row p {
      font-size: 0.9em; }
  #contact .form-inline {
    margin-left: 32em;
    padding-top: 3em; }
    #contact .form-inline .color {
      background-color: #A2CA29;
      width: 10em;
      color: white; }
    #contact .form-inline #text {
      width: 11em; }
    #contact .form-inline #email {
      width: 19em; }

/*# sourceMappingURL=styles.css.map */
