#det1{
background-color: $green-color;
text-align: left;
color:white;
padding: 6em 8em;
position: relative;



.row{
padding-right: 8em;
i{
  font-size: 4em;
}
a{
  font-size: 1em;
  color: white;
  i{
    font-size: 1em;
  }
}


}



}
