#det4{

padding-bottom: 0em;
padding-top: 0em;
background-color: $red-color;
text-align: center;


.row{
margin-right: 8em;
padding-bottom: 0;
max-height: 100%;
background-color: white;

.boy{
  height: 27.18em;
      width: 48.59em;
}
.run{
      width: 24.89em;
}
}

}
