#det4{

padding-bottom: 0em;
padding-top: 0em;
background-color: $red-color;
text-align: center;


.row{
margin-right: 8em;
padding-bottom: 0;
max-height: 100%;
background-color: white;

.boy{
    transform: translate(-0.0em, 2.68em) scale(1.047, 1.269);
}



.run{
transform: scale(1.094, 1) translate(-0.0em, 0);

}
}

}
