#det6{
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: $red-color;
  text-align: left;
.row{
  background-color: white;
  margin-right: 8em;
.mango{
    transform: scale(1.097,1.1) translate(0em,0.75em);
}
.grape{
transform: scale(1.045,1.012);
}
}


}
