#det7{
  padding-bottom: 0em;
  padding-top: 0em;
  background-color: $red-color;
  text-align: left;
.row{

  background-color: white;
  margin-right: 8em;
.col-sm-8{
  p.left{
    color: $red-color;
    line-height: 0em;
    font-weight: bold;
    text-transform: uppercase;

  }
  h3.left{
    color: $green-color;
    font-size: 2em;

    text-transform: uppercase;
    padding-bottom: 1em;
  }
  padding: 5em 2em 4.3em 3em;
}
.col-sm-4{
  color: white;
    padding: 4em 2em 5em 3em;
  background-color: $green-color;
  p.right{

    line-height: 0em;
    font-weight: bold;
    text-transform: uppercase;

  }
  h3.right{

    font-size: 2em;
    line-height: 0.5em;
    text-transform: uppercase;
    padding-bottom: 1em;
  }
}
}
}
