#home{
  text-align: center;

  position: relative;





img.firs{
  width: 100%;
  height: 65em;
}
a{
  font-weight: bold;
}
a.about
{
position: absolute;
top: 3.5em;
right: 36em;

color: white;
}
a.about1
{
position: absolute;
top: 3.5em;
right: 26em;
color: white;}
a.about2
{
position: absolute;
top: 3.5em;
right: 19em;
color: white;}
a.about3
{
position: absolute;
top: 3.5em;
right: 14em;
color: white;}

a.about4
{
position: absolute;
top: 3.5em;
right: 7em;
color: white;}

img.first{
position: absolute;
top: -13em;
left: -12.5em;

transform: scale(0.1);
color: red;


}


h2{
position: absolute;
    top: 1.2em;
    left: 4.2em;
    font-size: 1.8em;
span{
border-bottom: 5px solid #A2CA29;
}}


h1{
position: absolute;
bottom: 3em;
left: 2.5em;
font-size: 4em;
text-transform: uppercase;
span{
color: #A2CA29;
}
}

p{
  position: absolute;
  bottom: 6.7em;
  left: 20.5em;
  font-size: 1.5em;
  span{
    color: red;
  }
}



}
